#SP_icon{
    width: 100px;
    height: 100px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(153, 31, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body{
    margin: 0px;
    padding: 0px;
}

#links{
    padding-right: 10px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    max-height: 500px;
    width: 450px;
}

.img_noticia{
    width: 250px;
    height: 300px;
    padding: 10px;
}

hr{
    border: 10px;
    border-top: 7px solid rgb(155, 18, 18);
    margin: 20px 0;
}

#escalacao{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center; 
    align-items: flex-end; 
    gap: 95px; 
    overflow-x: auto; 
}
.jogador-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.icone_jogador{
    height: 100px; 
    width: 100px;
}