#SP_icon{
    width: 100px;
    height: 100px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(153, 31, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#links{
    padding-right: 10px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    max-height: 500px;
    width: 450px;
}

.img_noticia{
    width: 250px;
    height: 300px;
    padding: 10px;
}

hr{
    border: 10px;
    border-top: 7px solid rgb(0, 0, 0);
    margin: 20px 0;
}

#escalacao{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-end;  
    text-align: center;
    justify-content: space-around;
    background-color: rgb(155, 18, 18);
}
.jogadores{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    margin-bottom: 67px;
}

.icone_jogador{
    height: 80px; 
    width: 80px;
    padding: 10px;
}
h2 {
    margin-bottom: 10px;    
    width: 100%;
    text-align: center;
}

#texto_rodape{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
}