#SP_icon{
    width: 100px;
    height: 100px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(155, 18, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body{
    margin: 0px;
    padding: 0px;
}

#links{
    padding-right: 10px;
}

#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    display: flex;
}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    max-height: 500px;
    width: 450px;
}

#img_mascote{
    width: 150px;
    height: 200px;
    padding: 5px;
}

#img_calleri{
    width: 200px;
    height: 200px;
    padding: 5px;
}


